 <div class ="one column content-wrapper">
  <div class ="one column content">
    <h1>Users</h1>
    <ul>
      <%@users.each do |user| %>
        <li><a href="/users/<%=user.slug%>"><%=user.username%></a></li>
      <%end%>
    </ul>
  </div>
</div>

