<div class ="one column content-wrapper">
  <h1>Reviews from <%=@user.username%>!</h1>
  <%@reviews.each do |review|%>
    <div class ="one column content">
      <h3><%=movie_reviewed(review).name%></h3>
      <h4>Score: <%=review.score%></h4>
      <p><%=review.content%></p>
    </div>
  <%end%>
</div>