 <div class ="one column content-wrapper">
  <div class ="one column content">
    <h1>Welcome to Reel Reviews</h1>
    <p>Share your thoughts on movies you've seen! Whether they're classics or the latest releases, Reel Reviews welcomes them all!
      Sign up and take part!</p>
  </div>
</div>
